.navbar {
  /*#fcf5eb #37ff3daa*/
  background-image: linear-gradient(to right, #37ff3daa 0%, #fcf5ebff 100%);
  height: 100px;
  width: 100%;
  position: sticky;
  top: 0;
  overflow: hidden;
}

.logo {
  width: 350px;
  height: 80px;
  border-radius: 10px;
  --c1: #f6d365;
  --c2: #fda085;
  /*background: linear-gradient(90deg, var(--c1, #f6d365), var(--c2, #fda085) 51%, var(--c1, #f6d365)) var(--x, 0)/ 200%;*/
  background: linear-gradient(90deg, #35014F, #e07517 51%, #35014F) var(--x, 0)/ 200%;
  color: transparent;
  background-clip: text;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  transition: all 400ms ease-in;
}

.logo:hover { 
  --x: 100%; 
}


/*
.logo::after
{
  content: "";
  width: 0%;
  height: 2px;
  background: #430400;
  background-color: #35014F;
  background-image: linear-gradient(to right, #35014F 0%, #ae501e 100%);
  -moz-background-clip: text;
  -webkit-background-clip: text;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.logo:hover::after
{
  width: 100%;
}

.logo.active::after
{
  width: 100%;
}

.logo.home
{
  background-color: rgb(255, 145, 0); 
}

.logo.home-active
{
  background-color: #F0E0FF; 
}
*/
.navcontainer {
  max-width: 1750px;
  margin: auto;
  overflow: auto;
  padding: auto;
}
  
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
  
.navbar .flex {
  justify-content: space-between;
}
  
.navbar ul {
  display: flex;
}  

a.udrl_anim
{
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

a.udrl_anim::after
{
  content: "";
  width: 0%;
  height: 2px;
  background: #f44336;
  display: block;
  margin: auto;
  transition: 0.5s;
}

a.udrl_anim:hover::after
{
  width: 100%;
}

a.udrl_anim.active::after
{
  width: 100%;
}

a.udrl_anim.home
{
  background-color: rgb(255, 145, 0); 
}

a.udrl_anim.home-active
{
  background-color: #F0E0FF; 
}
