.navbar {
  background-color: #37ff3d;
  height: 100px;
}

.container {
  max-width: 1750px;
  margin: auto;
  overflow: auto;
  padding: auto;
}
  
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
  
.navbar .flex {
  justify-content: space-between;
}
  
.navbar ul {
  display: flex;
}  

.navbar a
{
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a::after
{
  content: "";
  width: 0%;
  height: 2px;
  background: #f44336;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.navbar a:hover::after
{
  width: 100%;
}

.navbar a.active::after
{
  width: 100%;
}

.navbar a.home
{
  background-color: rgb(255, 145, 0); 
}

.navbar a.home-active
{
  background-color: #F0E0FF; 
}
