.navbar {
  background-color: #20002fee;
  height: 100px;
  width: 100%;
  position: sticky;
  top: 0;
  overflow: hidden;
}

.logo {
  width: 350px;
  height: 80px;
  border-radius: 10px;
  --c1: #f6d365;
  --c2: #fda085;
  background: linear-gradient(90deg, #5e018c, #e07517 51%, #5e018c) var(--x, 0)/ 200%;
  color: transparent;
  background-clip: text;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  transition: all 400ms ease-in;
}

.logo:hover { 
  --x: 100%; 
}

.navcontainer {
  max-width: 1750px;
  margin: auto;
  overflow: auto;
  padding: auto;
}
  
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
  
.navbar .flex {
  justify-content: space-between;
}
  
.navbar ul {
  display: flex;
}  

a.udrl_anim
{
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

a.udrl_anim::after
{
  content: "";
  width: 0%;
  height: 2px;
  background: #f44336;
  display: block;
  margin: auto;
  transition: 0.5s;
}

a.udrl_anim:hover::after
{
  width: 100%;
}

a.udrl_anim.active::after
{
  width: 100%;
}

a.udrl_anim.home
{
  background-color: rgb(255, 145, 0); 
}

a.udrl_anim.home-active
{
  background-color: #F0E0FF; 
}
