.project {
  margin: 10px;
  background-color: #eeeeee;
}

.contract {
  margin: 10px;
  background-color: #e1e1e1;
}

img {
    max-width: 500px;
    max-height: 300px;
}

button
{
  background-color: #550000;
  color: #ffffff;
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

button::after
{
  content: "";
  width: 0%;
  height: 2px;
  background: #f44336;
  display: block;
  margin: auto;
  transition: 0.5s;
}

button:hover::after
{
  width: 100%;
}

button.active::after
{
  width: 100%;
}

button.home
{
  background-color: rgb(255, 145, 0); 
}

button.home-active
{
  background-color: #F0E0FF; 
}

