.statcontainer {
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    display: flex;
    width: 99%;
    grid-column-start: 3;
    grid-row-start: 1;
}

.stats {
    margin: 10px;
    gap: 200px;
    max-width: 500px;
    padding: 2rem;
    border: 1px solid #f49131;
    border-radius: 1rem;
    background: #1e002d;
    box-shadow: 0 0 16px #000000aa;
}
