@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 2;
}

body {
  font-family: 'IBM Plex Serif', serif;
  color: #35014F;
  line-height: 1.6;
  min-height: 100%;
}

.container {
  margin: 10px;
  background-color: #e9e6e6;
  display: inline-block;
  width: 99%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #35014F;
}

img {
  padding: 5;
  width: 500;
  height: 300;
}

h1, h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

h1 {
  background-color: #f44336;
  background-image: linear-gradient(to right, #35014F 0%, rgb(215, 125, 0) 100%);
  background-size: 100%;
  display: flex;
  -moz-background-clip: text;
  -webkit-background-clip: text;
}

p {
  margin: 10px 0;
}

h1 {
  font-size: 40pt;
}

h2 {
  color: #3d2c0c;
  font-size: 20pt;
}

h3 {
  font-size: 15pt;
}
