@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'IBM Plex Serif', serif;
  line-height: 1.6;
  min-height: 100%;
}

.hero {
  background-color: #181530;
  height: 100%;
  display: grid;
  margin: 0;
}

.icon {
  max-width: 100%;
  object-fit: cover;
  grid-column-start: 1;
  grid-row-start: 3;
}

.title {
  margin-left: 20px;
  color: #fff;
  text-wrap: wrap;
  grid-column-start: 1;
  grid-row-start: 2;
}

.heading {
  margin-left: 20px;
  color: #e9e6e6;
  grid-column-start: 1;
  grid-row-start: 3;
}

.herogrid {
  display: inline-grid;
  column-gap: 20px;
}

.scrollicon {
  object-fit: cover;
  grid-column-start: 2;
  grid-row-start: 2;
}

.scrollicon span {
  display: block;
  width: 20px;
  height: 20px;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  transform: rotate(45deg);
  animation: animate 2s infinite;
}

.scrollicon span:nth-child(1) {
  animation-delay: -0.2s;
}
.scrollicon span:nth-child(2) {
  /*To fix for resize*/
  margin-top: -40px;
}

@keyframes animate {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.container {
  background-color: #e9e6e6;
  display: inline-block;
  width: 100%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #35014F;
}

.nava {
  color: #fff;
}

img {
  padding: 5;
  width: 500;
  height: 300;
}

h1, h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

h1 {
  background-color: #f44336;
  background-image: linear-gradient(to right, #35014F 0%, rgb(215, 125, 0) 100%);
  background-size: 100%;
  display: flex;
  background-clip: text;
  -moz-background-clip: text;
  -webkit-background-clip: text;
}

p {
  margin: 10px 0 0 10px;
}

h1 {
  font-size: 40pt;
}

h2 {
  color: #3d2c0c;
  font-size: 20pt;
  margin: 10px 0 0 10px;
}

h3 {
  font-size: 15pt;
}
